html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-decoration: none;
    align-items: center;
}

.b1 {
    width: 100%;
    height: 100%;
    margin: auto;
    background: url('../images/bg.jpg') no-repeat 50% 50%;
    top: 0;
    display: table;
    background-size: cover;
}

.b1 .in1 {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content {
    max-width: 700px;
    margin: auto;
    text-align: center;
    animation: text 3s 1;
}

.content h1 {
    font-family: 'Century Gothic', sans-serif;
    color: #f9f3f4;
    font-size: 500%;
    text-shadow: 0 0 300px #000;
    margin-bottom: 20px;
    font-family: 'Gugi', cursive;
}

.content .btn {
    border-radius: 9px;
    color: #f9f3f4;
    text-decoration: none;
    font-family: 'Century Gothic', sans-serif;
    border: 3px solid;
    padding: 7px 13px;
    font-weight: bold;
}

.content .btn:hover {
    color: #2196f3;
}

p {
    font-size: 160%;
    line-height: 200%;
    text-align: justify;
    margin: 3%;
    font-family: sans-serif;
}

.intro h2 {
    font-size: 32px;
    color: white;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 18px;
}

.intro h3 {
    font-size: 22px;
    color: white;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 48px
}

.intro a {
    background-color: #5900e7;
    border-radius: 2px;
    padding: 10px 30px;
    color: white;
    font-weight: 300;
}


/* container css */

.container {
    margin-left: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.course {
    display: block;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

.course:hover {
    text-decoration: none;
}

.course .course-img {
    display: block;
}

.course .info {
    padding: 10px;
}

.course .info h4 {
    font-size: 18px;
    color: #4a4a4a;
    margin-top: 0;
    margin-bottom: 10px;
}

.course .info .lecturer {
    font-size: 13px;
    color: #4a4a4a;
}

.course .info .lecturer img,
.course .info .lecturer .name {
    vertical-align: middle
}

@keyframes text {
    0% {
        color: black;
        margin-bottom: -40px;
    }
    30% {
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85% {
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}


/* 구독 서비스 */

.subscribe {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.subscribe h2 {
    font-weight: bold;
}

.pricing-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: min(1600px, 100%);
    margin: auto;
    margin-top: 0;
}

.pricing-card {
    flex: 1;
    max-width: 360px;
    background-color: #fff;
    margin: 20px 10px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    color: #2d2d2d;
    transition: .3s linear;
    border-radius: 5px;
}

.pricing-card-header {
    background-color: #343A40;
    display: inline-block;
    color: #fff;
    padding: 12px 30px;
    border-radius: 0 0 20px 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    transition: .4s linear;
}

.pricing-card:hover .pricing-card-header {
    box-shadow: 0 0 0 26em #343A40;
}

.price {
    font-size: 70px;
    color: #343A40;
    margin: 40px 0;
    transition: .2s linear;
}

.price sup,
.price span {
    font-size: 22px;
    font-weight: 700;
}

.pricing-card:hover,
.pricing-card:hover .price {
    color: #fff;
}

.pricing-card li {
    font-size: 16px;
    padding: 10px 0;
    text-transform: uppercase;
    list-style: none;
}

.order-btn {
    display: inline-block;
    margin-bottom: 40px;
    margin-top: 80px;
    border: 2px solid #343A40;
    color: #343A40;
    padding: 18px 40px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 500;
    transition: .3s linear;
}

.order-btn:hover {
    background-color: #343A40;
    color: #fff;
}

@media screen and (max-width:1100px) {
    .pricing-card {
        flex: 50%;
    }
}

/* 추가 */

@media (max-width:768px) {
    .b1 {
        float: left;
        width: 100%;
    }
}
